.overview_wrapper {
  padding-top: 24px;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

.section_header {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
  color: #00a680;
  font-size: 20px;
  font-weight: normal;
  text-align: left;
}

.subsection {
  margin: 0;
  padding: 0;
}

div.subsection ul {
  position: relative;
  margin-left: 20px;
  list-style-position: outside;
}

/* ol,
ul {
  list-style: none;
} */

div.subsection li {
  font-size: 14px;
  line-height: 24px;
}
div.subsection li {
  line-height: 20px;
  margin: 6px 0;
}

.show_more {
  color: #069;
  cursor: pointer;
}
